<tr>
  <td width="1" style="padding:0;">
    <% if task.completed %>
      <%= link_to toggle_task_path(task), class:'btn checked', method: :patch do %>
        <i class="fa fa-check-circle"></i>
      <% end %>
    <% else %>
      <%= link_to toggle_task_path(task), class:'btn check', method: :patch do %>
        <i class="fa fa-check-circle-o"></i>
      <% end %>
    <% end %>
  </td>
  <td>
    <h3><%= task.title %></h3>
    <% if !task.note.blank? %>
      <p><small><strong>Note:</strong> <%= task.note %></small></p>
    <% end %>
  </td>
  <td width="1" style="padding:0;">
    <%= link_to edit_task_path(task), class:'btn edit' do %>
      <i class="fa fa-edit"></i>
    <% end %>
  </td>
  <td width="1" style="padding:0;">
    <%= link_to task, class:'btn delete', method: :delete, :data => { :confirm => 'Are you sure?' } do %>
      <i class="fa fa-times"></i>
    <% end %>
  </td>
</tr>